*{padding:0;margin:0;border:0;}
*,*:before,*:after{box-sizing:inherit;}
html, body{
    font-family: NokiaPureHeadline,Arial,Helvetica,sans-serif;
    font-weight: 300;
    color: #6e6e6e;
    line-height: 1.73;
    font-size: 24px;
    word-break: break-word;
    text-decoration: none;
    height:100%;width:100%;font-size:100%;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;
}
li {
    list-style: none;
    line-height: 1,5;
}
a{
    display: block;
    text-decoration: none;
}    
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.navigation {
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #f3f2ee;
    position: relative;
    max-width: none;    
}

@media (min-width:1100px) {
    .container {
        max-width: 1176px;
        margin: 0px auto;
        height: 100%;}
}   
.navigation__body {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
@media(max-width:719px){
    .navigation__body {
        height: 69px;}
}
.nokia__logo {
    display: flex;
}
@media(min-width:720px){
    .nokia__logo{
        padding: 0px 15px;
        flex: 0 1 16.6666666667%}
}
@media(max-width:719px){
    .nokia__logo{
        margin-left: 15px;}
}
.level__logo {
    display: flex;
    align-items: center;
    width: 93px;
    text-decoration: none;
    line-height: 1.33;
    color: #0065ed;
    transition: all 0.3s ease-in-out;
}
@media (max-width:1099px) {
    .navigation__main{
        visibility: hidden;
    }
}
@media(min-width:720){
    .navigation__main {
        flex: 0 1 58.3333333333%;
    }
}
@media(max-width:719px){
    .navigation__main{
        display:none;
    }
}
.navigation__menu {
    display: flex;
    margin: 0;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    line-height: 1.5;
    position: relative;
}
.navigation__list{
    display: flex;
    margin: 0;
    flex-direction: row;
    flex-shrink: 0;
    position: relative;
}
.navigation__btn{
    display: flex;
    position: relative;
    height: 70px;
    padding: 0 25px;
    align-items: center;
    transform: translateZ(0);
    font-size: 16px;
    color: #1d1e20;
    z-index: 1;
}
.dropdown__pointer{
    display: none;
    position: absolute;
    min-width: 281px;
    top: 100%;
    border: 1px solid #f3f2ee;
    border-top: 0;
    background-color: #fff;
    z-index: 102;
    left: 50%;
    max-height: 75vh;
    transform: translateX(-50%);
}
.navigation__list::after {
    content:'';
    display: block;
    position: absolute;
    top: 30px;
    right: 0;
    width: 12px;
    height: 12px;
    background-image: url(svgs_collection/dropdown.svg);
    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    transform: rotate(90deg) translateY(6px);
}
.navigation__list::after:hover{
    background-image: url(svgs_collection/dropdown_blue.svg);
}
.navigation__list :hover{
    cursor: pointer;
    color: #0065ed;
}
.navigation__icons{
    align-items: center;
    flex: 0 1 25%;
    line-height: 1;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow: visible;
    align-items: center;
    padding: 0px 15px;
}
@media(max-width:1099px){
    .navigation__icons{
        justify-content: flex-end;
    }
}
.navigation__icon{
    display: flex;
    margin: 0;
    padding-left: 18px;
    padding-right: 17px;
    width: initial;
    height: 20px;
    align-items: center;
    flex-wrap: wrap;
}
@media(min-width:1100px){
    .navigation__icon{
        display: flex;
        margin: 0;
        padding-left: 18px;
        padding-right: 17px;
        width: initial;
        height: 20px;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media(max-width:1099px){
    .navigation__icon{
        display: flex;
        justify-content: flex-end;
        margin-left: 0;
        overflow: visible;
        align-items: center;
        margin: 0;
        padding-left: 18px;
        padding-right: 17px;
        height: 20px;               
    }
}    
@media(max-width:719px){
    .icon__language{
        visibility: hidden;}
    } 
.icon__language{
    position: relative;
    height: 20px;
    font-size: 0;
    line-height: 1;
}
.search-icon{
    position: relative;
    height: 20px;
    font-size: 0;
    line-height: 1;
}
@media(min-width:1100px){
    .last__icon {
        box-sizing:border-box;
        width: 140px;
        white-space: nowrap;
        padding-left: 18px;
        padding-right: 17px;}
}
.hamburger__first {
    display: block;
    color: #094391;
    font-size: 13px;
    line-height: normal;
    white-space: nowrap;
    position: relative;
}
@media (min-width:1100px){
    .hamburger__first {
        display: none;
        color: #094391;
        font-size: 13px;
        line-height: normal;
        white-space: nowrap;
        position: relative;
    }
}
.icon__hamburger__desktop {
    display: flex;
    align-items: center;
    color: #094391;
    font-size: 13px;
    line-height: normal;
    white-space: nowrap;
}
@media (max-width:1099px){
.icon__hamburger__desktop {
    display: none;}
}
.navigation ul.navigation__icons>li:last-child svg {
    margin-right: 15px;
    position: relative;
    color: #094391;
    font-size: 13px;
    line-height: normal;
    white-space: nowrap;
    position: relative;
    top: -1;
}
.menu_2 {
    color: #094391;
    font-size: 13px;
    line-height: normal;
    white-space: nowrap;
    margin-bottom: 0px;
}
.top__content {
    position: relative;
    height: auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(img/NOKIA_\ HOME\ PAGE\ IMAGE_1920x750px\ Woman\ and\ light\ bulbs_02_5.jpg); 
    transform: translateY(0px);
}
@media (min-width: 720px){
.top__content  {
    padding: 124px 0;}
}
@media (max-width: 1099px){
.top__content{
    padding: 10vw 0;}
}
@media (max-width: 719px){
.top__content  {
    background-image: url(img/NOKIA\ HOME\ PAGE\ IMAGE_720x412px\ Woman\ and\ light\ bulbs_02_5.webp) !important;
    background-position: center center !important;}
}
.top__content .container{
    max-width: 1146px;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
}
.top__body {
    padding: 0px 15px;
    flex: 100%;
}
@media (min-width: 1100px){
    .top__body {
        flex: 0 1 66.6666666667%;}
}
.title {
    font-family:  NokiaPureHeadlineLight,Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-size: 48px;
    line-height: 72px;
    font-weight: 300;
    color: #fff;
}
@media(max-width: 1099px){
    .title {
        margin-top: 72px;
        margin-bottom: 72px;
        line-height: 1.5;
        letter-spacing: 0;
        max-width: 14em;}
}
@media (min-width: 1100px) {
    .title {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}
@media (min-width: 720px) and (max-width: 1099px){
    h1 {
        font-size: 36px !important;
}}
@media(min-width: 380px) and (max-width: 719px){
    h1 {
       font-size: 24px !important;}
}
@media(max-width: 379px){
    h1 {
        font-size: 22px !important;}
}
@media(min-width:720px){
    .nr {
        display: flex;
        flex-wrap: nowrap;
        margin-left: -15px;
        margin-right: -15px;}
}
.paragraph {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #fff;
}
@media (min-width: 720px){
.paragraph  {
    font-size: 24px;}
} 
.btn {
    background-color: rgb(255, 255, 255) ;
    margin-top: 48px;
    z-index: 3;
    /* border: solid 1px #2965ED; */
    position: relative;
    font-size: 16px;
    display: inline-block;
    min-width: 186px;
    padding: 13px 8px 13px;
    border-radius: 3px;
    border: solid 1px #fff;
    /* background-color: #0065ed; */
    font-weight: normal;
    line-height: 1.54;
    color: rgb(9, 107, 238);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.top__body .btn:hover{
    color:#0065ed;
}
.midle__content {
    min-height: 100%;
}
.midle__top {
    padding: 25px 0px;
}
.container__two{
    width: calc(100% - (24px * 2));
    margin: 0px auto;
}
@media (min-width:1100px){
.container__two {
    max-width: 1140px;}
}
.midle {
    
    padding: 24px 0px;
    margin: 0px 0px;
    clear: both;
}
.midle__first {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 24px
}
@media (max-width:719px){
    .midle__first{    
        flex-wrap: wrap;}
}
    
.midle__first__block1 {
    margin-right: 24px;
}
@media (max-width:719px){
.midle__first__block1 {
    margin-right: 0px;
}   
}
.block{
    max-width: 100%;
}
@media (min-width:720px){
.block{
    flex: 0 1 50%;
    width: 50%;}
}   

.link__block__small {
    display: block;
    position: relative;
    width: 100%;
    height: 558px;
    margin: 0px;
    overflow:hidden;
    display: flex;
    align-items:flex-end;
    line-height: 0;
}
.image1{
    display: block;
    width: auto;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease;
    line-height: 0;
    display: block;
    position: absolute;
    bottom: 0;
    right: -178px;
    z-index: 1;
    }
@media(max-width:719px){
    .midle__first__block1{
        display: none;
        width: 100%;}
}
.link__block::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    background-image: linear-gradient(to bottom, rgba(61,63,67,0) -15%, #000 52%);
    z-index: 1;
    transition: opacity .5s;    
}
.link__block::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    opacity: 0.8;
    background-image: linear-gradient(to top, rgba(0,0,0,0.94) 20%, rgba(61,63,67,0) 54.12%);
    z-index: 1;
    transition: opacity .4s;
}    
.link__block__title{
    z-index: 10;
    padding: 0px 22px 16px ;
    position: relative;
    bottom:0px;
    left: 0px;
    z-index: 2;
    width: 100%;
}
.block__title {
    position: relative;
    margin-bottom: 2px;
    font-family: NokiaPureHeadline,Arial,Helvetica,sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #fff;}

@media(min-width:1100px){
    .block__title{
        font-size: 32px;
        line-height: 48px;}
}    
@media(min-width:720px) and (max-width:1099px){
    .block__title{
        font-size: 20px;}
} 
.block__pointer {
    position: relative;
    display: inline-block;
    padding-right: 13px;
    color: #fff;
    letter-spacing: 0.4px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 16px;
}
.block__pointer::before{
    content: "";
    position: absolute;
    bottom: 4px;
    right: 0;
    width: 4px;
    height: 6px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='6' fill='rgb%28255%2C255%2C255%29'%3E%3Cpath d='M.01 1.194l3.033 2m-3.032 2l3.032-2' stroke='%23FFF' fill='none' fill-rule='evenodd' stroke-linecap='square'/%3E%3C/svg%3E");
    background-size: 100%;
}
.image2{
    display: block;
    width: auto;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease;
    line-height: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.midle__second{
    margin-bottom: 24px
}
.midle__second__block1{
    flex: 0 1 100%;
    max-width: 100%;
    max-height: 100%;
}
.link__block__second {
    display: block;
    position: relative;
    width: 100%;
    height: 641px;;
    margin: 0px;
    overflow:hidden;
    display: flex;
    align-items:flex-end;
    line-height: 0;}
.image3{
    display: block;
    width: auto;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease;
    line-height: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}    

.midle__bottom {
    background-color: #edf2f5;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.articles__fb {
    padding-top: 24px;
}
@media(min-width:720px){
    .set {
        display: flex;
        flex-wrap: nowrap;
        margin: 0px -12px;
}}
@media(max-width:719px){
    .set {
        display: flex;
        flex-direction: column;
        margin: 0px -12px;
        }
}
.nc__1 {
    flex: 0 1 100%;
    width: 100%;
    padding: 0px 12px;}

@media(min-width:720px){
.nc__1 {
    flex: 0 1 25%;
    width: 25%;
    padding: 0px 12px;}

}
.cont{
    display: flex;
    flex-wrap: nowrap;
    margin-left: -12px;
    margin-right: -12px;
}
.cont__article{
    flex: 0 1 100%;
    width: 100%;
    padding: 0px 12px;
}
.cont__article img{
    display: block;
    margin-bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.cont__article h2{
    font-size: 22px;
    padding: 0px;
    margin:0px 0px 8px 0px;
    line-height: 30px;
    font-family: NokiaPureHeadline,Arial,Helvetica,sans-serif;
    font-weight: normal;
    letter-spacing: 0;
    color: #000;}

@media(min-width:720px){
    .cont__article h2{
        font-size: 24px;
        margin:0px 0px 16px 0px;
        line-height: 32px;}        
}
.cont__article p{
    font-family: NokiaPureHeadline,Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #1d1e20;
    padding: 0px;
    margin: 0px 0px ;
    margin-bottom: .833rem;
}
@media(min-width:720px){
    .cont__article p{
        font-size: 17px;
        line-height: 26px;}
}
@media(min-width:379px){
    .cont__article p{
        font-size: 18px;
        line-height: 27px;}
}
     

.articles__lb {
    padding-bottom: 24px;
}


.footer{
    padding: 50px 0;
    background: #001135;
    color: #fff;
    position: relative;
    flex: 0 1 100%;
}
@media(min-width:1100px){
    .footer{
        padding: 85px 0 56px;}
}

 footer .container {
    max-width: 1146px;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:720px){
    .footer__logo {
        display: flex;
        flex-wrap: nowrap;
        margin-left: -15px;
        margin-right: -15px;}
}
.footer__nokia__logo{
    margin-bottom: 40px;  
}
@media(min-width:720px){
    .footer__nokia__logo {
        flex: 0 1 100%;
        padding-left: 15px;
        padding-right: 15px;}
}

.footer__nokia__logo path {
    fill: #fff;
}

.footer__social__contact {
    margin-bottom: 63px;
}
@media(min-width:720px){
    .footer__social__contact {
        display: flex;
        flex-wrap: nowrap;
        margin-left: -15px;
        margin-right: -15px;}
}
.footer__social{
    flex: 0 1 100%;  
}
@media(min-width:720px){
.footer__social {
    flex: 0 1 50%;
    padding-left: 15px;
    padding-right: 15px;}
}
.footer__social__icons{
    display: inline-flex;
}
@media(min-width:720px){
.footer__social__icons{
    margin-right: 22px;}
}
.footer__social__icons ul{
    display: inline-flex;
}
.footer__social li{
    margin: 0 20px 20px 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255,255,255,0.15);
    -webkit-backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.footer__social li:hover{
    background-color: #fff;
}
.footer__social li:hover g, .footer__social li:hover path {
    fill: #001135 !important;
}
.footer__social li a{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}
.footer__social li svg {
    height: 38px;
    width: 38px;
    overflow: hidden;
}
.footer__social path{
    fill: #fff;
}
.footer__social li a.twitter svg{
    margin: 11px 0 0 11px;
    width: 16px;
    height: 18px;
}
.footer__social__link{
    color:#fff;
    display: inline-block;
    position: relative;
    top: 0px;
    font-size: 13px;
    opacity: .75;
    transition: all 0.3s ease-in-out;
}
@media(min-width:720){
    .footer__social__link{
        top: -16px; 
    }
}
.footer a[href]:hover{
    color: #00c9ff;
}

@media(min-width:720px){
.subscribe {
    flex: 0 1 50%;
    padding-left: 15px;
    padding-right: 15px;}
    
}
@media(min-width:1100px){
    .subscribe {
        display: flex;
        flex-wrap: nowrap;}
    }
.subscribe p{
    font-size: 13px;
    opacity: .75;
    line-height: 1.5;
    margin-bottom: 42px;
}
@media(min-width: 1100px){
    .subscribe p{
        margin-bottom: .833rem;}
}
.subscribe a{
    display: inline-block;
    width: 186px;
    padding: 16px 0px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.54;
    color: #fff;
    transition: all 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: solid 1px #fff;
}
@media(min-width:1100px){ 
    .subscribe a{
        display: flex;
        align-items:center;
        justify-content: center;
        margin-left: 48px;
        padding:0px;}
}
.btn_1 {
    background-color: rgb(255, 255, 255) ;
     z-index: 3;
    /* border: solid 1px #2965ED; */
    position: relative;
    /* background-color: #0065ed; */
    font-weight: normal;
    color: rgb(9, 107, 238);}
    
.subscribe a:hover{
    background-color:#fff;
}
.visible__line {
    display: block;
    box-sizing: content-box;
    overflow: visible;
    clear: both;
    width: 100%;
    margin: 32px 0px 38px 0px;
    padding: 0px;
    height: 1px;
    border:none;
    background: rgba(255,255,255,0.15);
}
@media(min-width:720px){
    .visible__line{
        display: none;}
}

.visible__line_2 {
    display: block;
    box-sizing: content-box;
    overflow: visible;
    clear: both;
    width: 100%;
    margin: 0px 0px 36px 0px;
    padding: 0px;
    height: 1px;
    border:none;
    background: rgba(255,255,255,0.15);
}
@media(max-width:720px){
    .visible__line_2{
        display: none;}
}

.footer__menu__glob {
    margin-bottom: 70px;
    display: flex;
    flex-wrap: nowrap;
    clear: both;
}
@media(min-width:720px){
    .footer__menu__glob{
        margin-left:-15px;
        margin-right:-15px ;
    }
}
@media(max-width:719px){
    .footer__menu__glob{
        flex-wrap: wrap;
    }
}
@media (min-width: 720px){
    .lc__1{
    flex: 0 1 16.6666666667%;
    padding: 0px 15px;}
}
@media (max-width: 1099px){
    .lc__1 {
    flex: 0 1 33%;}
}
@media (max-width: 719px){
    .lc__1 {
    flex: 0 1 50%;}
}   
.h5{
    margin: 15px 0px 30px 0px;
    font-size: 13px;
    font-weight: 700;
}
.footer__menu__glob ul{
    margin-bottom: 18px;
    opacity: .75;
    font-size: 18px;
    line-height: 1.5;
}
.lc__1>ul>li{
    padding-left: 0 !important;
    margin-bottom: 14px !important;
    line-height: 1.5 !important;
    font-size: 18px !important;
}
.footer__menu__glob a{
    display:inline;
    font-size: 13px;
    text-decoration: none;
    line-height: 1.33;
    transition: all 0.3s ease-in-out;
    color:#fff;
}
.footer__global__legal {
    opacity: 0.5;
    display: flex;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
}
.footer__global__body{
    padding: 0px 15px;
    flex: 0 1 100%;
}
.footer__global__body>ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:flex-end;
}
@media (max-width: 719px){
    .footer__global__body>ul{
        justify-content:flex-start;
    }
} 
.footer__global__body li{
    margin-left: 24px;
    list-style: none;
    font-size: 9px;
    margin-bottom: .4rem;
    line-height: 1.5;
}
.footer__global__body a{
    color:#fff;
}
